@page "/admin"
@inject NavigationManager NavigationManager

<h3>Админ-панель</h3>

<div>
    <NavLink href="/usermanagement" class="btn btn-primary">Управление пользователями</NavLink>
    <NavLink href="/adminmovies" class="btn btn-primary">Управление фильмами</NavLink>
</div>

