@page "/"

<PageTitle>Home</PageTitle>

<div class="container text-center mt-5">
    <h1 class="display-4">Практическая по Blazor Web Api!</h1>
    <a href="/counter" class="btn btn-primary btn-lg">Начать регистрацию</a>
</div>

<style>
    body {
        background-color: #f8f9fa; / Светлый фон /
    }
    h1 {
        color: #8b00ff;
        / Цвет заголовка /
    }
    .btn-primary {
        background-color: #8b00ff;
        border-color: #8b00ff;
    }
    .btn-primary:hover {
        background-color: #007bff;
        border-color: #007bff;
    }
</style>
